<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="win" />
  <package id="Rx-Core" version="2.0.20823" targetFramework="win" />
  <package id="Rx-Interfaces" version="2.0.20823" targetFramework="win" />
  <package id="Rx-Linq" version="2.0.20823" targetFramework="win" />
  <package id="Rx-Main" version="2.0.20823" targetFramework="win" />
  <package id="Rx-PlatformServices" version="2.0.20823" targetFramework="win" />
  <package id="TCD.Controls" version="1.3.14" targetFramework="win" />
  <package id="Win8nl" version="1.0.3" targetFramework="win" />
  <package id="WinRtBehaviors" version="1.0.1" targetFramework="win" />
</packages>