<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="E984BDD8.WritePadSDKCSharpSample" Publisher="CN=F797AA46-A0EE-4C4C-B005-987D00F6A7AE" Version="1.2.0.0" />
  <Properties>
    <DisplayName>WritePad SDK Sample</DisplayName>
    <PublisherDisplayName>PhatWare Corp.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WritePad SDK Sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PhatPad.App">
      <m2:VisualElements DisplayName="WritePad SDK Sample" Description="WritePad SDK Sample" BackgroundColor="#1C55B0" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="WritePad SDK Sample">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#1C55B0" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>