<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.phatware.writepad_sample_xamarin" android:versionName="6.0.160331" android:versionCode="6">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="30" />
	<application android:label="WritePad SDK Xamarin Sample" android:icon="@drawable/icon"></application>
</manifest>