<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.phatware.writepad_sample_xamarin" android:versionName="5.9.160331" android:versionCode="5">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="26" />
	<application android:label="WritePad SDK Xamarin Sample" android:icon="@drawable/icon"></application>
</manifest>